* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  color: white;
}
.logo {
  width: 140px;
  margin-bottom: 25px;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(120deg, #000, #1a1a1a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 64px;
  letter-spacing: 5px;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
  color: #aaa;
}

.btn {
  margin-top: 30px;
  padding: 12px 30px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  display: inline-block;
}

.btn.secondary {
  background: transparent;
  color: white;
  border: 2px solid white;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.section h2 {
  font-size: 36px;
  margin-bottom: 25px;
}

.section h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.section p {
  max-width: 850px;
  margin: auto;
  font-size: 16px;
  color: #ccc;
  line-height: 1.6;
}

.dark {
  background: #161616;
}

/* CARDS */
.cards {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #222;
  padding: 25px;
  border-radius: 12px;
  width: 220px;
  font-weight: bold;
}

/* PRODUCT */
.product-tag {
  color: #aaa;
  margin-bottom: 15px;
}

.product-desc {
  margin-bottom: 25px;
}

.features {
  list-style: none;
  margin-bottom: 30px;
}

.features li {
  margin: 10px 0;
  color: #ddd;
}

.product-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

/* CONTACT */
.contact-box {
  margin-top: 30px;
  background: #222;
  padding: 25px;
  border-radius: 12px;
  display: inline-block;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  background: #000;
  color: #888;
  font-size: 14px;
}
